.container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  /* background-color: #007bff; */
  position: fixed;
  bottom: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.271);
  max-width: 1000px;
  margin: auto;
  gap: 1rem;
}

.leftSection,
.centerSection,
.rightSection {
  display: flex;
  align-items: center;
}

.iconGroup {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon {
  font-size: 1.4rem;
  color: #333;
  transition: all 0.2s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #007bff;
}
