.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 6em;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 1.5rem 1rem;
  position: sticky;
  top: -1em;
  background-color: white;
}

.header h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
}

.reloadBtn {
  display: flex;
  align-items: center;
  justify-content: end;

  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  font-size: 1rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  width: 100%;
}

.searchBar input {
  width: 100%;
  max-width: 400px;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f6f4f3;
  font-size: 1rem;
  color: #333;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  flex-wrap: wrap;
}

.cardLeft {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1 1 50%;
}

.icon {
  font-size: 1.5rem;
}

.name {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: lowercase;
}

.cardRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.25rem;
  flex: 1 1 50%;
  margin-top: 0.5rem;
}

.price {
  font-weight: 600;
  font-size: 1.1rem;
}

.date {
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #666;
}

.noResults {
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  color: #999;
}

@keyframes rotateOnce {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotateOnce 1s linear;
}

/* ------------------ RESPONSIVE STYLES ------------------ */

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 1.5rem;
  }

  .reloadBtn {
    margin-top: 0.5rem;
    font-size: 0.95rem;
  }

  .price,
  .name {
    font-size: 1rem;
  }

  .searchBar input {
    padding: 0.7rem 0.9rem;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 1.5rem 1rem 1rem;
  }

  .searchBar {
    padding: 0.5rem 1rem;
  }

  .card {
    padding: 0.75rem;
  }

  .icon {
    font-size: 1.25rem;
  }

  .price {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }
}
