.container {
  /* background-color: rgba(200, 61, 61, 0.992) !important; */
  width: 100vw;
  /* margin-top: 9rem; */
  padding-top: 9rem;
  scroll-behavior: auto;
  min-width: 20rem !important;
  overflow: hidden !important;
}

.container form {
  background-color: var(---mainColor);
  padding: 2em;
  border-radius: 1em;
}

.container .input {
  margin: 0 auto;
  box-shadow: inset 0px 0px 15px -10px black;
  color: black;
  padding: 0.9em;
  font-weight: 600;
  height: 2.1rem;
  background-color: transparent;
  border-radius: 1em;
  width: 100%;
  color: var(---textColor);
  outline: none !important;
  border: none !important;
  transition: 0.3s;
}

.container input::placeholder {
  color: rgba(240, 248, 255, 0.826);
  outline: none !important;
  border: none !important;
}

.container input:focus {
  background-color: rgba(0, 0, 0, 0.095);
}

.container label {
  color: var(---textColor);
  font-weight: bold;
  user-select: none;
}

.signupLink {
  float: right;
  margin-top: 1rem;
  color : white;
}

.container form button {
  margin-top: 1rem;
}

.getOtpButton {
  padding: 0 0.3em;
  z-index: 10;
  position: absolute;
  top: 4.6rem;
  border-radius: 0.4rem;
  right: 0;
  cursor: pointer;
}
.container form button:disabled {
  cursor: no-drop;
}
