.card {
  background-color: white;
  border-radius: 10px;
  padding: 1em 2em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconAndName {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.name, .price{
  font-weight: bold;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(15deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(7deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ringing {
  animation: ring 1s ease;
}
